agri-ml/
__pycache__/
*.pyc
.pytest_cache/


.vscode/
.DS_Store

mlruns/
mlflow.db
models/

node_modules/
.npm

.env
.env.local
.env.*.local

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
build/
.next/

*.db
*.sqlite